header h1{
    text-align: center;
    color: #f37101;
    background-color:#542e0d;
}

#footer {
    display: flexbox;
    flex-direction: column;
    align-self: end;
    background-color: #542e0d;
    text-align: center;

}