

header h1{
    color: hsl(0, 0%, 100%);
    background-color:#2a2527;
    font-size: 50;
    text-align: left;
    padding-right: 50px;
    text-shadow: 2px 2px #b95345;
}

header {
    margin-top:-11px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #2a2527;
    height: 110px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #b95345;
    height:50px;
}

#navbar nav {
    padding-right:50px;
    width:450px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
    text-align: center;
}

#main {
    display: flexbox;
    height: 400px;
}

#footer {
    display: flexbox;
    background-color: #4E4F50;
    text-align: center;
    color: #b95345;
    height: 25%;
}