@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Noto+Sans:wght@700&family=Young+Serif&display=swap');

#container{
    width:75%;
    min-width: 481px;
    margin:auto;
    padding: 10px;
    border:1px solid #000;
}

/* Header */
header{
    background-image:
    linear-gradient(to top, rgba(245, 246, 252, 0.52), #bb5544),
    url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   /*background-color: #bb5544; */
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header h1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    font-family: 'Inconsolata', monospace;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Young Serif', serif;

}

header img{
    border-radius: 10%;
}

header, footer{
    padding: 10px;
    border:1px solid #000;
}


/* Nav */
nav{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

nav li {
    float: left;
}

nav li a:hover {
    background-color: #bb5544;
}

nav ul{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav li a {
    display: block;
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* main and left-menu */

#mainSection{
    display:flex;
    flex-wrap: wrap;
    border:1px solid #000;
    background-color: #bb5544;
    /* #3c3c3c */
    margin:10px 0;
}
  
#left-menu, main{
    border:1px solid #000;
    background-color: white;
    padding:10px;
    margin:10px;
}
  
#left-menu{
    flex:1 1 25%;
}
  
main{
    flex:1 1 75%;
}


/* Footer */
#primary_footer{
    display:flex;
    justify-content: center;
    background-color: #333333;

}

#primary_footer img{
    margin-top:-50px;
    border-radius: 10%;;

}
